@font-face {
    font-family: "Qix Large";
    src: url(../fonts/qix-large.ttf);
}

@font-face {
    font-family: "Qix Small";
    src: url(../fonts/qix-small.ttf);
}

body {
	background-color: #000; 
	color: #ffffff;
}

.pre-logo {
	font-family: "Qix Small";
	font-size: 32px;
	display: inline-block;
	margin: 45px 0 25px 0px;
}

.header{
	height: 140px;
}

.logo {
	font-family: "Qix Large";
	font-size: 46px;
	display: inline-block;
	margin: 25px 0 35px 30px;
}

.start {
	font-family: "Qix Large";
	font-size: 45px;
	color: #E2322F;
	text-decoration: none !important;
}

.statistics {
	display: inline-block;
	padding: 10px 15px;
	float: right;
	margin: 25px 0px 0 0;
	font-family: "Qix Large";
	width: 340px;
	font-size: 16px;
	line-height: 30px;
}

div.my-container {
    width: 1360px;
	margin: 0 auto;
}

#graphics {
    position: relative;
}

.my-center {
    margin-left: auto;
    margin-right: auto;
}

.my-panel {
    margin-top: 10px;
}

.overlay {
    position: absolute;
	left: 5px;
    display: block;
    opacity: 0.9;
}

#play:hover {
    opacity: 1;
} 

.level-and-score{
	display: inline-block;
	padding: 10px 15px;
	float: right;
	margin: 25px 0px 0 0;
	font-family: "Qix Large";
	font-size: 16px;
	width: 420px;
	margin-right: 15px;
	line-height: 30px;
}

.level-and-score #level-name{
	font-size: 16px;
	color: yellow;
}

.level-and-score #h_score{
	color: orange;
}

.level-and-score #c_score{
	color: lightblue;
}

.popup {
	display: inline-block; 
	position: absolute; 
	width: 700px;
	border: 16px solid white;
	padding: 20px;
	background-color: #000000;
	text-align: center;
}

.popup .popup-header{
	font-size: 50px;
	font-family: "Qix Large";
	display: inline-block;
	width: 100%;
}

.popup #your-score{
	font-size: 26px;
	font-family: "Qix Large";
	display: inline-block;
	width: 100%;
	padding-bottom: 15px;
	padding-top: 15px;
}

.popup a {
	font-family: "Qix Large";
	font-size: 25px;
	color: #E2322F;
	display: inline-block;
	width: 100%;
	text-decoration: none !important;
}

.popup a:hover,
.popup a:active {
	color: #2A6496;
	text-decoration: none !important;
}