@font-face {
    font-family: "Qix Large";
    src: url(../fonts/qix-large.ttf);
}

@font-face {
    font-family: "Qix Small";
    src: url(../fonts/qix-small.ttf);
}

body {
	background-color: #000; 
	color: #ffffff;
	font-family: "Qix Small";
	font-size: 20px;
	line-height: 30px;
}

.start{
	text-align: center;
	color: #F73936;
	margin-top: 70px;
}

a {
	font-family: "Qix Large";
	font-size: 35px;
	color: #E2322F;
	text-decoration: none !important;
}

a:hover,
a:active {
	color: #2A6496;
	text-decoration: none !important;
}

.green{
	color: green;
}

.selected {
	color: yellow;
}
