@font-face {
    font-family: "Qix Large";
    src: url(../fonts/qix-large.ttf);
}

@font-face {
    font-family: "Qix Small";
    src: url(../fonts/qix-small.ttf);
}

body {
	background-color: #000; 
	color: #ffffff;
}

.pre-logo {
	font-family: "Qix Small";
	font-size: 37px;
	display: inline-block;
	margin: 45px 0 25px 390px;
}

.header{
	height: 140px;
}

.logo {
	font-family: "Qix Large";
	font-size: 42px;
	display: inline-block;
	margin: 25px 0 35px 10px;
}

.start {
	font-family: "Qix Large";
	font-size: 45px;
	color: #E2322F
}

.start:hover {
	color: #2A6496;
	text-decoration: none !important;
}

.statistics {
	border: 3px solid white;
	display: inline-block;
	padding: 10px 15px;
	float: right;
	margin: 25px 10px 0 0;
	font-family: "Qix Large";
	width: 210px;
}

div.my-container {
    width: 1060px;
    margin: 0 200px 10px;
}

#graphics {
    position: relative;
}

.my-center {
    margin-left: auto;
    margin-right: auto;
}

.my-panel {
    margin-top: 10px;
}

.overlay {
    position: absolute;
	left: 5px;
    display: block;
    opacity: 0.9;
}

#play:hover {
    opacity: 1;
} 