@font-face {
    font-family: "Qix Large";
    src: url(../fonts/qix-large.ttf);
}

@font-face {
    font-family: "Qix Small";
    src: url(../fonts/qix-small.ttf);
}

body {
	background-color: #000; 
	color: #ffffff;
	font-family: "Qix Small";
	font-size: 20px;
	line-height: 30px;
}

.info-container{
	width: 1360px; 
	margin: 50px auto 0 auto; 
}

.rules{
	text-align: justify;
}

.left-block{
	width: 49%; 
	float: left;
}

.right-block{
	width: 49%; 
	float: left; 
}

.enemy-table{
	margin-top: 20px;
}

.enemy-table td.enemy {
	width: 40px;
}

.enemy-table td.enemy img{
	width: 24px;
}

.controls{
	margin-top: 20px;
}

.controls-table{
	margin-left: 20px; 
	margin-top: 10px;
}

.controls-table td.button {
	width: 40px; 
	color: red; 
	font-weight: bolder; 
	font-size: 24px;
}

.buttons-table{
	margin-left: 25px;
}

.buttons-table td.button-green {
	color: green; 
	vertical-align: top; 
	width: 180px;
}

.buttons-table td.button-blue {
	color: blue; 
	vertical-align: top; 
	width: 180px;
}

.buttons-table td.button-red {
	color: red; 
	vertical-align: top; 
	width: 180px;
}

.buttons-table td.button-back {
	color: gray; 
	vertical-align: top; 
	width: 180px;
}

.game-start{
	text-align: center;
	color: #F73936;
	margin-top: 50px;
}

.game-image{
	width: 650px;
}

.here:hover,
.here:active{
	color: yellow;
	text-decoration: none !important;
}

.orange{
	color: orange;
}


.about table{
	font-family: "Qix Small";
	width: 100%;
}

.about table td{
	vertical-align: top;
	text-align: right;
	padding: 5px 10px;
}