@font-face {
    font-family: "Qix Large";
    src: url(../fonts/qix-large.ttf);
}

@font-face {
    font-family: "Qix Small";
    src: url(../fonts/qix-small.ttf);
}

body {
	background-color: #000; 
	color: #ffffff;
}

.pre-logo {
	font-family: "Qix Small";
	font-size: 22px;
	display: inline-block;
	margin: 45px 0 25px 0px;
}

.header{
	height: 140px;
}

.logo {
	font-family: "Qix Large";
	font-size: 36px;
	display: inline-block;
	margin: 35px 0 35px 30px;
}

.start {
	font-family: "Qix Large";
	font-size: 45px;
	color: #E2322F;
	text-decoration: none !important;
}

.statistics {
	display: inline-block;
	padding: 10px 15px;
	float: right;
	margin: 25px 0px 0 0;
	font-family: "Qix Small";
	width: 340px;
	font-size: 21px;
	line-height: 30px;
}

.level-and-score{
	display: inline-block;
	padding: 10px 15px;
	float: right;
	margin: 25px 0px 0 0;
	font-family: "Qix Small";
	font-size: 21px;
	width: 400px;
	margin-right: 15px;
	line-height: 30px;
}

.level-and-score #level-name{
	color: yellow;
}

.level-and-score #h_score{
	color: orange;
}

.level-and-score #c_score{
	color: lightblue;
}

div.my-container {
    width: 1360px;
	margin: 0 auto;
}

#graphics {
    position: relative;
}

.my-center {
    margin-left: auto;
    margin-right: auto;
}

.my-panel {
    margin-top: 10px;
}

.overlay {
    position: absolute;
	left: 5px;
    display: block;
    opacity: 0.9;
}

#play:hover {
    opacity: 1;
}

#popup {
	display: none; 
	position: absolute; 
	width: 700px;
	border: 16px solid white;
	padding: 20px;
	background-color: #000000;
	text-align: center;
}

#popup .popup-header{
	font-size: 50px;
	font-family: "Qix Large";
	display: inline-block;
	width: 100%;
}

#popup #your-score{
	font-size: 26px;
	font-family: "Qix Large";
	display: inline-block;
	width: 100%;
	padding-bottom: 15px;
	padding-top: 15px;
}

#popup a {
	font-family: "Qix Large";
	font-size: 25px;
	line-height: 32px;
	color: #E2322F;
	display: inline-block;
	width: 100%;
	text-decoration: none !important;
}

#popup  .here:hover,
#popup .here:active,
.bottom-nav a:hover,
.bottom-nav a:active{
	color: yellow !important;
	text-decoration: none !important;
}

.bonus-level-exp{
	color: red;
}

#info{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: black;
	text-align: left;
}

.bottom-nav{
	text-align: center;
}

.bottom-nav a{
	font-family: "Qix Small";
	margin-right: 80px;
	font-size: 25px;
	line-height: 32px;
	color: #E2322F;
	display: inline-block;
	text-decoration: none !important;
}